@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

*{
    box-sizing: border-box;
}
:root{
    --light-blue : #e7f3fd ;
    --light-orange :  #fae4da;
    --light-ocher: #fdecc6;
    --light-yellow: #feffd0;
    --dark-blue:  #052238;
    --light-gray: #343d42;
}

body{
    background-color: var(--light-blue);
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.navbar{
    display: block;
    margin: 0%;
    padding: 3em 3em;
    
    color: var(--dark-blue);
    background-color: var(--light-blue);
}

.nav-brand{
    font-size: 1.2em;
    margin:10px 0px 10px 0px;
    font-weight: 800;
}

.links{
    text-decoration:none ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    /*text-align: left;
    display: inline;
    float:right;*/
}

.links li{
    font-size: 1em;
    text-decoration:none ;
    display: inline;
    font-weight: 500;
}

.link + .link{
    margin-left: 2em;
}

.links a{
    text-decoration:none ;
    color: var(--light-gray);
}

.links .active{
    color: var(--dark-blue);
    font-weight: 800;
}

.header{
    padding: 1em;;
    margin: auto;
    width: 100%;
    height: 70vh;
}

.container{
    padding: 4em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profile + div{
    margin-left: 3em ;
}

.profile{
    width: 12rem;
}
.profile img{
    width: 100%;
    border-radius: 7rem;
}

.heading{
    width: 100%;
    font-size: 1.8em;
    font-weight: 600;
}

.sub-heading{
    margin: auto;
    padding: 1em;
    font-family: 'Roboto';
    font-size: 0.8em;
}

.section{
    padding: 1em;;
    margin: auto;
    width: 100%;
    max-width: 800px;
}

.caps{
    padding: 1em 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.left{
    text-align: left;
}

.list{
    text-decoration: none;
}

.list-item{
    text-decoration: none;
    list-style-type: none;
}

.title{
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0;
}

.desc{
    font-weight: 300;
    font-size: 1.2em;
    color: #343d42;
    margin: 5px 0;
}

.line{
    border-bottom: 1px solid #52788d2f;
    padding: 1em;
}

.btn{
    text-decoration: none;
    color: #343d42;
    font-weight: 300;
    font-size: 1.2em;
    cursor: pointer;
}